/************************ Fichiers css spécial pour l'affichage des composants du jeu ************************/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
/**************** Couleurs et styles de base ****************/

/** Couleurs de texte **/

    .primary-font-color {
        @apply text-[#343C6A];
    }
    .green-font-color {
        @apply text-[#019799];
    }
    .red-font-color {
        @apply text-[#EF4565];
    }


/**************** Affichage des règles du jeu (Rules.jsx) ****************/

    /* Section de la page */
        .rule-article {
            @apply flex flex-col gap-2 w-full;
        }
    /* Titre de la section */
        .rule-title {
            @apply font-semibold py-3 primary-font-color uppercase;
        }
    /* Contenu de la section */
        .rule-div-content {
            @apply flex justify-start items-center gap-2 w-full primary-font-color;
        }
    /* Style des icones */
        .icon-rule-div {
            @apply w-fit p-2 pl-0;
        }

/*************** Informations pop-up (InformationPopup.jsx **************/

    .centered-pop-up {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

/**************** Boutons ******************/

    /** Bouton fermer **/
        .close-button {
            @apply flex justify-center items-center p-0 red-font-color font-semibold rounded-full  ;
        }

}