@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Fonctions mathématiques */
@import "mafs/core.css";
@import "mafs/font.css";


@layer base {

    main {
        @apply h-screen bg-main-color overflow-auto ;
    }
}

/**************** Barre de défilement ***************/

    /* Faire disparaître la barre de défilement de la page*/
    body::-webkit-scrollbar {
        width: 0;  
        background: transparent;
    }

   /* Personnalisation de la barre de défilement*/

        ::-webkit-scrollbar, ::-webkit-scrollbar:vertical {
            width: 10px;
            height: 10px;
        }
    
        ::-webkit-scrollbar-thumb {
            background: #B1B1B1;
            
        }
    
        ::-webkit-scrollbar-thumb:hover {
            background: #343C6A;
        }

/**************** Animations keyframe ***************/

    /** Page d'accueil **/
        
        /* Animation du background */
            @keyframes HomeBackground {
                0%,
                100% {
                background-position: 0% 50%;
                }
                50% {
                background-position: 100% 50%;
                }
            }

        /* Animation de la flèche */
            @keyframes MovingArrow {
                0%   {transform: translateY(0px)}
                50%  {transform: translateY(-10px)}
                100% {transform: translateY(0px)}
            }

/***************** Classes ***************/
@layer components {

    /************* Plein écran du conteneur global *************/

        .fullscreen-container {
            @apply flex flex-col h-screen w-screen ;
        }

    /*********************** Couleurs ***********************/

        /** Couleurs de fond **/

            .bg-main-color {
                @apply bg-[#F5F7FA] ;  
            }

            .bg-blue-color {
                @apply bg-[#0A06F4];
            }    

            .bg-purple-color {
                @apply bg-[#CECDFD];
            }
            
            .bg-btn-red-color {
                @apply bg-[#EF4565];
            }
            .bg-btn-red-color:hover {
                @apply bg-gradient-to-r from-[#F87A90] to-[#EF4565];
            }

            .bg-btn-gray-color {
                @apply bg-gray-300;
            }
            .bg-blue-gradient-color {
                @apply bg-gradient-to-r from-[#4C49ED] to-[#0A06F4];
            }
            .bg-blue-gradient-color:hover {
                @apply bg-gradient-to-r from-[#615eec] to-[#0A06F4];
            }


        /** Couleurs de texte **/

            .primary-font-color {
                @apply text-[#343C6A];
            }
            .blue-font-color {
                @apply text-[#0A06F4];
            }
            .nav-font-color {
                @apply text-[#8f8e8e];
            }

            .blue-gradient-font-color {
                @apply bg-blue-gradient-color text-transparent bg-clip-text;
            }
        
        /** Couleurs de bordure **/

            .border-blue-color {
                @apply border-[#0A06F4];
            }
            .border-white-color {
                @apply border-[#E6EFF5] ;
            }
            .border-purple-color {
                @apply border-[#5705F5] ;
            }

    /******************* page d'accueil *****************/

        /** Header **/
            
            /* Boutons d'authentification */
            .home-auth-button {
                @apply w-[180px] px-3 py-1 font-semibold border-2 border-white shadow-md rounded-[30px] ;
            }

        /** Sections (deux sections fullscreen) **/
            .home-section {
                @apply relative flex justify-center items-center h-screen min-h-[450px] ;
            }
        
        /** Formulaire de partie **/
            .home-form-content {
                @apply w-[280px] py-2 px-3 mb-4 font-semibold text-center border-2 border-gray-300 shadow-md rounded  ;
            }

        /** Animations **/

            .background-animation {
                background: linear-gradient(-45deg,#343C6A,#0A06F4,#4C49ED);
                background-size: 400%;
            
                -webkit-animation: HomeBackground 7s ease infinite;
                -moz-animation: HomeBackground 7s ease infinite;
                animation: HomeBackground 7s ease infinite;
            }

            /* Flèches */
                .moving-arrow {
                    position: absolute;

                    -webkit-animation: MovingArrow 2s linear infinite;
                    -moz-animation: MovingArrow 2s linear infinite;
                    animation: MovingArrow 2s linear infinite;
                }
                .moving-arrow:hover {
                    color : #4C49ED ;
                    
                    animation-play-state: paused;
                }

                .down {
                    @apply bottom-0 text-white
                }
                .up {
                    @apply top-0 blue-font-color
                }
        
    /*********************** Formulaire ***********************/
       /* Les formulaires sont ceux d'inscription et de connexion */
       /* Le style des input et des labels sont réutilisés pour les Modals */

        /* Conteneur global */
            .form-container-style {
                @apply  grow flex flex-col justify-center items-center w-screen h-auto p-5 ;
            }
            .form-style {
                @apply flex flex-col justify-between items-center min-w-[450px] p-8 pb-0 bg-white primary-font-color shadow-md rounded
            }

        /* Titre des input */
            .form-label-style {
                @apply block mb-2 text-sm font-bold  ;
            }

        /* Inputs */
            .form-inputfield-style {
                @apply  w-full h-fit py-2 px-3 primary-font-color leading-snug 
                        border rounded shadow-md appearance-none focus:outline-none;
            }

        /* Boutons de validation*/
            .form-button-style {
                @apply w-full mt-2 py-2 text-white font-bold rounded focus:outline-none ;
            }

        /* Message d'erreur */
            .text-error-style {
                @apply text-red-500 text-xs mt-2 ;
            }
        
        /* Texte d'authentification */
            .text-auth-container-style {
                @apply w-fit pt-5 pb-2 primary-font-color text-sm ;
            }
            .text-auth-style {
                @apply ml-1 blue-font-color font-medium decoration-[#0A06F4] hover:underline ;
            }

    /******************* TopBar du professeur *****************/
        .topbar-container {
            @apply flex flex-row items-center h-1/6 px-0 py-0 border-b-2 border-white-color box-border  ;
        }

    /*********************** Navigation Sidebar ***********************/
            
        /* Element du menu */
            .nav-item {
                @apply flex justify-start items-center w-full gap-4 nav-font-color;
            }
            .nav-item:hover {
                @apply text-[#7C79FF];
            }
            /* Si l'élément est sélectionné */
            .nav-item-selected {
                @apply nav-item text-[#4C49ED];
            }

        /* Indicateur de sélection */
            .nav-item-indicator {
                @apply w-2 h-[60px] bg-transparent border-r-2 border-transparent rounded-r-[30px];
            }
            .nav-item-indicator-selected {
                @apply nav-item-indicator bg-[#4C49ED] border-[#4C49ED] ;
            }

        /* Titre de l'élément */    
            .nav-menu-link {
                @apply flex flex-row justify-start items-center gap-2 h-[60px] w-full ;
            }

    /*********************** Dashboard ***********************/

        /* Section du dashboard */
            .section {
                @apply grow min-w-[280px] p-5 ;
            }
        
        /* Titre des articles dans le dashboard*/

            /* Conteneur du titre */
                .title-container {
                    @apply flex justify-between w-full min-w-[280px] ;
                }

            /* Titre principal */
                .medium-title {
                    @apply primary-font-color font-semibold;
                }

            /* Label "Voir tout" du dashboard*/
                .show-all-text {
                    @apply medium-title text-sm hover:underline;
                }
            
        /* Conteneur des blocs d'informations du dashboard */
            .info-container {
                @apply flex flex-wrap flex-grow justify-between items-center gap-2 w-full h-full ;
            }

        /* Bloc des informations du dashboard*/
            .info-block {
                @apply bg-white mt-2 w-[15svw] min-w-[280px] grow rounded-[30px] shadow-md overflow-hidden flex flex-col;
            }
            .grid-block {
                @apply grid grid-cols-2 gap-1 ;
            }

        /* Bloc vide si aucune information n'est disponible */
            .empty-info-block {
                @apply info-block self-stretch min-h-[200px] justify-center items-center ;
            }

        /* Elements du bloc */
            .element-info-block {
                @apply p-1 ml-3 mr-3
            }

        /* Titres des informations dans le dashboard*/
            .small-title {
                @apply inline-block blue-font-color text-[11px] font-semibold uppercase   ;
            }

        /* Texte des informations dans le dashboard*/
            .small-text {
                @apply primary-font-color text-sm  ;
            }

        /* Bouton voir */
            .btn-show {
                @apply flex items-center justify-center w-full h-10 mt-1 bg-blue-gradient-color text-white text-center uppercase rounded-b-[30px] transition-colors duration-300;
            }


    /*********************** Affichage de liste ***********************/
        
        /* Titre des colonnes */
            .table-title {
                @apply pb-4 px-4 whitespace-nowrap blue-font-color text-xs uppercase   ;
            }

        /* Style des élements des listes */
            .td-style {
                @apply p-4 font-medium whitespace-nowrap ;
            }

            .room-list-container {
                @apply flex flex-col w-full min-w-max mt-10 overflow-auto ;
            }


    /*********************** Composants Modal ***********************/
    /* Ce sont les composants qui s'affichent par dessus le reste de la page */
    /* Similaires à des formulaires, ils réutilisent donc les mêmes classes */

        /* Bouton annuler */        
            .modal-cancel-button-style {
                @apply  text-[#0A06F4] form-button-style flex items-center justify-center h-[40px]
                        bg-transparent border-2 border-blue-color box-border ;
            }

        /* Bouton valider */
            .modal-validate-button-style {
                @apply form-button-style bg-gradient-to-r flex items-center justify-center h-[40px];
            }
            .modal-validate-button-style:hover {
                @apply bg-gradient-to-r from-[#615eec] to-[#0A06F4];
            }
            .modal-delete-button-style {
                @apply form-button-style  flex items-center justify-center h-[40px];
            } .modal-delete-button-style:hover {
                @apply bg-gradient-to-r from-[#f06179] to-[#EF4565];
            }

        /* Bouton spécifique pour la page de liste d'élèves */
            .modal-student-button-style {
                @apply h-[30px] text-sm p-0 ;
            }
        /* Input spécifique pour la page de liste d'élèves */
            .modal-student-input-style {
                @apply  h-[30px] text-sm ;
            }

    
    /***************** Parties : Création et Participation **************/
    /* Ces classes concernent les pages Pregame et Join et les composants 
    associés. Elles sont utilisées pour l'affichage des élèves/équipes 
    lors de la création et validation des équipes */


    /* Bouton principal */
        .pregame-join-button {
            @apply  bg-blue-gradient-color modal-validate-button-style w-full min-w-[250px] p-8 font-medium uppercase;
        }
    /* Conteneur global */
        .pregame-join-container {
            @apply  grow flex flex-wrap justify-between w-full;
        }
        .pregame-container {
            @apply  pregame-join-container gap-5 ;
        }
        .join-container {
            @apply pregame-join-container gap-10 ;
        }
    /* Conteneur des élèves/équipes */
            /* Conteneur commun */
            .pregame-join-list-container {
                @apply grow flex flex-col gap-2 w-[45%] min-w-[300px] max-h-[100%] min-h-[200px]  ;
            }
            /* Header commun */
            .pregame-join-list-header {
                @apply flex flex-row justify-center items-center gap-2 py-2 px-5 border-white-color  ;
            }
                /* Celui pour le pregame */
                .pregame-list-header {
                    @apply pregame-join-list-header border-y medium-title uppercase;
                }
                /* Celui pour le join */
                .join-list-header {
                    @apply pregame-join-list-header border-b ;
                }
    
    /* Input pour join */
        .join-input {
            @apply w-full p-2 bg-transparent primary-font-color focus:border-transparent focus:outline-none ;
        }
    /* Conteneur commun des listes dynamiques */
        .pregame-join-list {
            @apply flex flex-col w-full h-full bg-white border-l border-r shadow-md overflow-y-auto ;
        }

    /* Barre de progression */
        .progress-bar {
            @apply grow h-[10px] rounded-xl ;
        }
        .progress-bar-on{
            @apply progress-bar bg-blue-color;
        }
        .progress-bar-off{
            @apply progress-bar bg-[#E5E5E5] ;
        }
        
    
    /*************************** Statistiques ***************************************/
    /* Ces classes concernent les pages de statistiques (TeamStats et StudentStats) */

    /* Style de l'écran pour afficher la fenetre */
        .team-stats-screen {
            @apply fixed z-50 inset-0 flex items-center justify-center bg-black bg-opacity-50 ;
        }
    /* Conteneur global */
        .team-stats-container {
            @apply w-full max-w-2xl mx-auto bg-white primary-font-color rounded-lg shadow-xl overflow-hidden ;
        }
        


    /***************** Affichage des salles d'énigmes ******************/

    /* Menu des chapitres */
        .label-filter-selected {
            @apply border-b-2 border-blue-color blue-font-color p-3 text-center w-fit
        }
        .label-filter {
            @apply border-b-2 border-[#cbcbcb] nav-font-color p-3 text-center w-fit;
        }
        .label-filter:hover {
            @apply text-[#7c79ff] border-[#7c79ff];
        }

    /* Indicateur de difficulté */
        .chip {
            @apply rounded-full px-4 py-1 text-xs text-white text-center;
        }
        .chip-facile {
            @apply bg-[#4cbc9a] chip;
        }
        .chip-moyen {
            @apply bg-[#fb7d5b] chip;
        }
        .chip-difficile {
            @apply bg-[#ff4550] chip;
        }
    
    
    /*********************** Boutons utilitaires ***********************/

        /* Style commun à tous les boutons utilitaires */
            .btn-action{
                @apply text-white font-semibold rounded-full p-2
            }
        
        /* Boutons de validation */
            .btn-validate{
                @apply btn-action p-3 bg-blue-gradient-color whitespace-normal rounded-[8px] ;
            }

        /* Bouton créer */
            .btn-action-create {
                @apply btn-action flex space-x-2 items-center p-3 bg-blue-gradient-color  ;
            }
        
        /* Bouton voir élèves */
            .btn-action-see {
                @apply  btn-action flex space-x-2 items-center px-4 py-2 bg-blue-gradient-color text-white text-xs font-medium rounded-full ;
            }

        /* Bouton bleu (statistiques et détails)*/
            .btn-action-blue {
                @apply btn-action bg-[#4C49ED]
            }
            .btn-action-blue:hover {
                @apply bg-gradient-to-r from-[#6462e6] to-[#4C49ED];
            }    

        /* Bouton orange (modifier) */    
            .btn-action-orange {
                @apply btn-action bg-[#FB7D5B]
            }
            .btn-action-orange:hover {
                @apply bg-gradient-to-r from-[#FC9679] to-[#FB7D5B];
            }

        /* Bouton jaune (classement et pregame) */
            .btn-action-yellow {
                @apply btn-action bg-[#fabe32]
            }
            .btn-action-yellow:hover {
                @apply bg-gradient-to-r from-[#f3ca6a] to-[#fabe32];
            }
                
        /* Bouton vert (valider et lancer la partie) */
            .btn-action-green {
                @apply btn-action bg-[#019799]
            }
            .btn-action-green:hover {
                @apply bg-gradient-to-r from-[#4eb5b6] to-[#019799];
            }

        /* Bouton rouge (supprimer et refuser) */
            .btn-action-red {
                @apply btn-action bg-btn-red-color
            }
    
        /* Boutons désactivé*/
            .btn-disabled {
                @apply btn-action bg-btn-gray-color
            }
}
